:root[data-action="hover"] {
  --button-size-border-weight: 2px;
  --button-size-border-radius-L: var(--theme-size-border-radius-lg);
  --button-size-border-radius-M: var(--theme-size-border-radius-md);
  --button-size-border-radius-S: var(--theme-size-border-radius-sm);
  --button-color-background-neutral: var(--theme-colour-background-neutral-low);
  --button-color-background-on-primary: var(
    --theme-colour-background-brand-on-primary
  );
  --button-color-background-on-secondary: var(
    --theme-colour-background-brand-on-secondary
  );
  --button-color-background-primary: var(
    --theme-colour-background-brand-primary
  );
  --button-color-background-secondary: var(
    --theme-colour-background-brand-secondary
  );
  --button-color-background-tertiary: var(
    --theme-colour-background-neutral-low
  );
  --button-color-border-tertiary: var(--theme-colour-border-neutral-high);
  --button-color-icon-invert-on-primary: var(
    --theme-colour-text-brand-on-primary
  );
  --button-color-icon-invert-on-secondary: var(
    --theme-colour-text-brand-on-secondary
  );
  --button-color-icon-on-neutral: var(--theme-colour-icon-neutral-high);
  --button-color-icon-on-primary: var(--theme-colour-icon-brand-on-primary);
  --button-color-icon-on-secondary: var(--theme-colour-icon-brand-on-secondary);
  --button-color-icon-on-tertiary: var(--theme-colour-icon-neutral-high);
  --button-color-icon-with-hyperlink: var(--theme-colour-icon-info-medium);
  --button-color-icon-with-underlined: var(--theme-colour-icon-neutral-high);
  --button-color-text-hyperlink: var(--theme-colour-text-info-medium);
  --button-color-text-invert-on-primary: var(
    --theme-colour-text-brand-on-primary
  );
  --button-color-text-invert-on-secondary: var(
    --theme-colour-text-brand-on-secondary
  );
  --button-color-text-on-neutral: var(--theme-colour-text-neutral-high);
  --button-color-text-on-primary: var(--theme-colour-text-brand-on-primary);
  --button-color-text-on-secondary: var(--theme-colour-text-brand-on-primary);
  --button-color-text-on-tertiary: var(--theme-colour-text-neutral-high);
  --button-color-text-underlined: var(--theme-colour-text-neutral-high);
}
:root[data-action="normal"] {
  --button-size-border-weight: 1px;
  --button-size-border-radius-L: var(--theme-size-border-radius-lg);
  --button-size-border-radius-M: var(--theme-size-border-radius-md);
  --button-size-border-radius-S: var(--theme-size-border-radius-md);
  --button-color-background-neutral: var(
    --theme-colour-background-neutral-invert
  );
  --button-color-background-on-primary: var(
    --theme-colour-background-brand-on-primary
  );
  --button-color-background-on-secondary: var(
    --theme-colour-background-brand-on-secondary
  );
  --button-color-background-primary: var(
    --theme-colour-background-brand-primary
  );
  --button-color-background-secondary: var(
    --theme-colour-background-brand-secondary
  );
  --button-color-background-tertiary: var(
    --theme-colour-background-neutral-low
  );
  --button-color-border-tertiary: var(--theme-colour-border-neutral-high);
  --button-color-icon-invert-on-primary: var(
    --theme-colour-icon-brand-invert-on-primary
  );
  --button-color-icon-invert-on-secondary: var(
    --theme-colour-icon-brand-invert-on-secondary
  );
  --button-color-icon-on-neutral: var(--theme-colour-icon-neutral-high);
  --button-color-icon-on-primary: var(--theme-colour-icon-brand-on-primary);
  --button-color-icon-on-secondary: var(--theme-colour-icon-brand-on-secondary);
  --button-color-icon-on-tertiary: var(--theme-colour-icon-neutral-high);
  --button-color-icon-with-hyperlink: var(--theme-colour-icon-info-medium);
  --button-color-icon-with-underlined: var(--theme-colour-icon-neutral-high);
  --button-color-text-hyperlink: var(--theme-colour-text-info-medium);
  --button-color-text-invert-on-primary: var(
    --theme-colour-text-brand-invert-on-primary
  );
  --button-color-text-invert-on-secondary: var(
    --theme-colour-text-brand-invert-on-secondary
  );
  --button-color-text-on-neutral: var(--theme-colour-text-neutral-high);
  --button-color-text-on-primary: var(--theme-colour-text-brand-on-primary);
  --button-color-text-on-secondary: var(--theme-colour-text-brand-on-secondary);
  --button-color-text-on-tertiary: var(--theme-colour-text-neutral-high);
  --button-color-text-underlined: var(--theme-colour-text-neutral-high);
}
:root[data-action="disabled"] {
  --button-size-border-weight: 1px;
  --button-size-border-radius-L: var(--theme-size-border-radius-lg);
  --button-size-border-radius-M: var(--theme-size-border-radius-md);
  --button-size-border-radius-S: var(--theme-size-border-radius-sm);
  --button-color-background-neutral: var(--theme-colour-background-neutral-low);
  --button-color-background-on-primary: var(
    --theme-colour-background-neutral-low-alt
  );
  --button-color-background-on-secondary: var(
    --theme-colour-background-neutral-low-alt
  );
  --button-color-background-primary: var(
    --theme-colour-background-neutral-low-alt
  );
  --button-color-background-secondary: var(
    --theme-colour-background-neutral-low-alt
  );
  --button-color-background-tertiary: var(
    --theme-colour-background-neutral-low
  );
  --button-color-border-tertiary: var(--theme-colour-border-neutral-low);
  --button-color-icon-invert-on-primary: var(
    --theme-colour-text-neutral-medium
  );
  --button-color-icon-invert-on-secondary: var(
    --theme-colour-text-neutral-medium
  );
  --button-color-icon-on-neutral: var(--theme-colour-icon-neutral-low);
  --button-color-icon-on-primary: var(--theme-colour-icon-neutral-medium);
  --button-color-icon-on-secondary: var(--theme-colour-icon-neutral-medium);
  --button-color-icon-on-tertiary: var(--theme-colour-icon-neutral-low);
  --button-color-icon-with-hyperlink: var(--theme-colour-icon-neutral-low);
  --button-color-icon-with-underlined: var(--theme-colour-icon-neutral-low);
  --button-color-text-hyperlink: var(--theme-colour-text-neutral-low);
  --button-color-text-invert-on-primary: var(
    --theme-colour-text-neutral-medium
  );
  --button-color-text-invert-on-secondary: var(
    --theme-colour-text-neutral-medium
  );
  --button-color-text-on-neutral: var(--theme-colour-text-neutral-low);
  --button-color-text-on-primary: var(--theme-colour-text-neutral-medium);
  --button-color-text-on-secondary: var(--theme-colour-text-neutral-medium);
  --button-color-text-on-tertiary: var(--theme-colour-text-neutral-low);
  --button-color-text-underlined: var(--theme-colour-text-neutral-low);
}
:root[data-theme="Prism"] {
  --theme-size-border-radius-lg: var(--dimension-fixed-0);
  --theme-size-border-radius-md: var(--dimension-fixed-0);
  --theme-size-border-radius-sm: var(--dimension-fixed-0);
  --theme-colour-background-neutral-low: var(--asphalt-1);
  --theme-colour-background-neutral-invert: var(--asphalt-invert);
  --theme-colour-background-brand-on-primary: var(--agnostic-white);
  --theme-colour-background-neutral-low-alt: var(--asphalt-2);
  --theme-colour-background-brand-on-secondary: var(--agnostic-white);
  --theme-colour-background-brand-primary: var(--violet-7);
  --theme-colour-background-brand-secondary: var(--asphalt-18);
  --theme-colour-border-neutral-high: var(--asphalt-18);
  --theme-colour-border-neutral-low: var(--asphalt-2);
  --theme-colour-text-brand-on-primary: var(--asphalt-invert);
  --theme-colour-icon-brand-invert-on-primary: var(--agnostic-black);
  --theme-colour-text-neutral-medium: var(--asphalt-5);
  --theme-colour-text-brand-on-secondary: var(--asphalt-invert);
  --theme-colour-icon-brand-invert-on-secondary: var(--asphalt-18);
  --theme-colour-icon-neutral-high: var(--asphalt-18);
  --theme-colour-icon-neutral-low: var(--asphalt-3);
  --theme-colour-icon-brand-on-primary: var(--agnostic-white);
  --theme-colour-icon-neutral-medium: var(--asphalt-5);
  --theme-colour-icon-brand-on-secondary: var(--asphalt-invert);
  --theme-colour-icon-info-medium: var(--sky-5);
  --theme-colour-text-info-medium: var(--sky-5);
  --theme-colour-text-neutral-low: var(--asphalt-3);
  --theme-colour-text-brand-invert-on-primary: var(--asphalt-18);
  --theme-colour-text-brand-invert-on-secondary: var(--asphalt-18);
  --theme-colour-text-neutral-high: var(--asphalt-18);
  --theme-colour-text-alert-low: var(--amber-1);
  --theme-colour-text-alert-low-alt: var(--amber-2);
  --theme-colour-text-alert-high: var(--amber-7);
  --theme-colour-text-agnostic-black: var(--agnostic-black);
  --theme-colour-text-info-low: var(--sky-1);
  --theme-colour-text-info-high: var(--sky-7);
  --theme-colour-text-neutral-invert: var(--asphalt-invert);
  --theme-colour-text-negative-low: var(--crimson-1);
  --theme-colour-text-negative-medium: var(--crimson-5);
  --theme-colour-text-negative-high: var(--crimson-7);
  --theme-colour-text-positive-low: var(--emerald-1);
  --theme-colour-text-positive-medium: var(--emerald-5);
  --theme-colour-text-positive-high: var(--emerald-7);
  --theme-colour-text-premium-low: var(--lavender-1);
  --theme-colour-text-premium-medium: var(--lavender-5);
  --theme-colour-text-premium-high: var(--lavender-7);
  --theme-colour-background-alert-high: var(--amber-7);
  --theme-colour-background-agnostic-black: var(--agnostic-black);
  --theme-colour-background-info-high: var(--sky-7);
  --theme-colour-background-negative-high: var(--crimson-7);
  --theme-colour-background-neutral-high-alt: var(--asphalt-18);
  --theme-colour-background-positive-high: var(--emerald-7);
  --theme-colour-background-premium-high: var(--lavender-7);
  --theme-colour-border-alert-high: var(--amber-7);
  --theme-colour-border-agnostic-black: var(--agnostic-black);
  --theme-colour-border-info-high: var(--sky-7);
  --theme-colour-border-neutral-invert: var(--asphalt-invert);
  --theme-colour-border-negative-high: var(--crimson-7);
  --theme-colour-border-positive-high: var(--emerald-7);
  --theme-colour-border-premium-high: var(--lavender-7);
  --theme-colour-background-alert-low: var(--amber-1);
  --theme-colour-background-alert-medium: var(--amber-2);
  --theme-colour-background-info-low: var(--sky-1);
  --theme-colour-background-info-medium: var(--sky-5);
  --theme-colour-background-negative-low: var(--crimson-1);
  --theme-colour-background-negative-medium: var(--crimson-5);
  --theme-colour-background-positive-low: var(--emerald-1);
  --theme-colour-background-positive-medium: var(--emerald-5);
  --theme-colour-background-premium-low: var(--lavender-1);
  --theme-colour-background-premium-medium: var(--lavender-5);
  --theme-colour-background-neutral-high: var(--asphalt-7);
  --theme-colour-icon-alert-high: var(--amber-7);
  --theme-colour-icon-agnostic-black: var(--agnostic-black);
  --theme-colour-icon-info-high: var(--sky-7);
  --theme-colour-icon-neutral-invert: var(--asphalt-invert);
  --theme-colour-icon-negative-high: var(--crimson-7);
  --theme-colour-icon-positive-high: var(--emerald-7);
  --theme-colour-icon-premium-high: var(--lavender-7);
  --theme-font-letter-spacing-h1: 0px;
  --theme-font-letter-spacing-button: 0.4000000059604645px;
  --theme-font-letter-spacing-h2: 0px;
  --theme-font-letter-spacing-h3: 0px;
  --theme-font-letter-spacing-h4: 0px;
  --theme-font-letter-spacing-h5: 0px;
  --theme-font-letter-spacing-h6: 0.20000000298023224px;
  --theme-font-letter-spacing-micro: 0.4000000059604645px;
  --theme-font-letter-spacing-overline: 1px;
  --theme-font-letter-spacing-caption-high: 0.4000000059604645px;
  --theme-font-letter-spacing-caption-regular: 0.4000000059604645px;
  --theme-font-letter-spacing-subtitle-1-high: 0.30000001192092896px;
  --theme-font-letter-spacing-subtitle-1-regular: 0.30000001192092896px;
  --theme-font-letter-spacing-subtitle-2-high: 0.30000001192092896px;
  --theme-font-letter-spacing-subtitle-2-regular: 0.30000001192092896px;
  --theme-font-line-height-button: 24px;
  --theme-font-line-height-caption: 16px;
  --theme-font-line-height-h1: 86px;
  --theme-font-line-height-h2: 69px;
  --theme-font-line-height-h3: 55px;
  --theme-font-line-height-h4: 44px;
  --theme-font-line-height-h5: 35px;
  --theme-font-line-height-h6: 28px;
  --theme-font-line-height-micro: 12px;
  --theme-font-line-height-overline: 16px;
  --theme-font-line-height-subtitle-1: 24px;
  --theme-font-line-height-subtitle-2: 22px;
  --theme-font-size-button: 14px;
  --theme-font-size-caption: 12px;
  --theme-font-size-h1: 69px;
  --theme-font-size-h2: 55px;
  --theme-font-size-h3: 44px;
  --theme-font-size-h4: 35px;
  --theme-font-size-h5: 28px;
  --theme-font-size-h6: 22px;
  --theme-font-size-micro: 10px;
  --theme-font-size-overline: 11px;
  --theme-font-size-subtitle-1: 16px;
  --theme-font-size-subtitle-2: 14px;
  --theme-font-weight-high: 600px;
  --theme-font-weight-medium: 500px;
  --theme-font-weight-regular: 400px;
  --theme-size-border-radius-pill: var(--dimension-scale-1600);
  --theme-size-border-radius-xl: var(--dimension-fixed-0);
  --theme-size-border-radius-xs: var(--dimension-fixed-0);
  --theme-size-border-radius-xxl: var(--dimension-fixed-0);
  --theme-size-icon-lg: var(--dimension-scale-400);
  --theme-size-icon-md: var(--dimension-scale-300);
  --theme-size-icon-sm: var(--dimension-scale-200);
  --theme-screen-space-default: var(--space-md-1);
  --theme-screen-space-optical: var(--space-sm-5);
  --theme-screen-colour-alt: var(--screen-2);
  --theme-screen-colour-default: var(--screen-1);
  --theme-colour-background-agnostic-white: var(--agnostic-white);
  --theme-colour-background-neutral-medium: var(--asphalt-3);
  --theme-colour-background-neutral-medium-alt: var(--asphalt-5);
  --theme-colour-background-offer-high: var(--emerald-5);
  --theme-colour-background-offer-low: var(--emerald-1);
  --theme-colour-icon-offer-high: var(--emerald-7);
  --theme-colour-icon-offer-low: var(--emerald-1);
  --theme-colour-icon-offer-medium: var(--emerald-5);
  --theme-colour-icon-rating-filled: var(--asphalt-18);
  --theme-colour-icon-rating-unfilled: var(--asphalt-2);
  --theme-colour-icon-agnostic-white: var(--agnostic-white);
  --theme-colour-icon-alert-low: var(--amber-1);
  --theme-colour-icon-alert-low-alt: var(--amber-2);
  --theme-colour-icon-alert-medium: var(--amber-5);
  --theme-colour-icon-brand-primary: var(--violet-7);
  --theme-colour-icon-brand-secondary: var(--asphalt-18);
  --theme-colour-icon-info-low: var(--sky-1);
  --theme-colour-icon-negative-low: var(--crimson-1);
  --theme-colour-icon-negative-medium: var(--crimson-5);
  --theme-colour-icon-positive-low: var(--emerald-1);
  --theme-colour-icon-positive-medium: var(--emerald-5);
  --theme-colour-icon-premium-low: var(--lavender-1);
  --theme-colour-icon-premium-medium: var(--lavender-5);
  --theme-colour-text-offer-on-high: var(--asphalt-invert);
  --theme-colour-text-offer-on-low: var(--emerald-5);
  --theme-colour-text-agnostic-white: var(--agnostic-white);
  --theme-colour-text-alert-medium: var(--amber-5);
  --theme-colour-text-brand-primary: var(--violet-7);
  --theme-colour-text-brand-secondary: var(--asphalt-18);
  --theme-colour-border-agnostic-white: var(--agnostic-white);
  --theme-colour-border-alert-low: var(--amber-1);
  --theme-colour-border-alert-medium: var(--amber-2);
  --theme-colour-border-brand-primary: var(--violet-7);
  --theme-colour-border-brand-secondary: var(--asphalt-18);
  --theme-colour-border-info-low: var(--sky-1);
  --theme-colour-border-info-medium: var(--sky-5);
  --theme-colour-border-negative-low: var(--crimson-1);
  --theme-colour-border-negative-medium: var(--crimson-5);
  --theme-colour-border-neutral-medium: var(--asphalt-3);
  --theme-colour-border-positive-low: var(--emerald-1);
  --theme-colour-border-positive-medium: var(--emerald-5);
  --theme-colour-border-premium-low: var(--lavender-1);
  --theme-colour-border-premium-medium: var(--lavender-5);
  --theme-space-fixed-md-1: var(--dimension-fixed-300);
  --theme-space-fixed-md-2: var(--dimension-fixed-400);
  --theme-space-fixed-md-3: var(--dimension-fixed-500);
  --theme-space-fixed-md-4: var(--dimension-fixed-600);
  --theme-space-fixed-sm-1: var(--dimension-fixed-25);
  --theme-space-fixed-sm-2: var(--dimension-fixed-50);
  --theme-space-fixed-sm-3: var(--dimension-fixed-100);
  --theme-space-fixed-sm-4: var(--dimension-fixed-150);
  --theme-space-fixed-sm-5: var(--dimension-fixed-200);
  --theme-space-scale-lg-1: var(--space-lg-1);
  --theme-space-scale-lg-2: var(--space-lg-2);
  --theme-space-scale-lg-3: var(--space-lg-3);
  --theme-space-scale-lg-4: var(--space-lg-4);
  --theme-space-scale-lg-5: var(--space-lg-5);
  --theme-space-scale-md-1: var(--space-md-1);
  --theme-space-scale-md-2: var(--space-md-2);
  --theme-space-scale-md-3: var(--space-md-3);
  --theme-space-scale-md-4: var(--space-md-4);
  --theme-space-scale-md-5: var(--space-md-5);
  --theme-space-scale-sm-1: var(--space-sm-1);
  --theme-space-scale-sm-2: var(--space-sm-2);
  --theme-space-scale-sm-3: var(--space-sm-3);
  --theme-space-scale-sm-4: var(--space-sm-4);
  --theme-space-scale-sm-5: var(--space-sm-5);
}
:root[data-theme="Traum"] {
  --theme-size-border-radius-lg: var(--dimension-scale-200);
  --theme-size-border-radius-md: var(--dimension-scale-150);
  --theme-size-border-radius-sm: var(--dimension-fixed-100);
  --theme-colour-background-neutral-low: var(--asphalt-1);
  --theme-colour-background-neutral-invert: var(--asphalt-invert);
  --theme-colour-background-brand-on-primary: var(--agnostic-white);
  --theme-colour-background-neutral-low-alt: var(--asphalt-2);
  --theme-colour-background-brand-on-secondary: var(--agnostic-white);
  --theme-colour-background-brand-primary: var(--aegean-7);
  --theme-colour-background-brand-secondary: var(--asphalt-18);
  --theme-colour-border-neutral-high: var(--asphalt-18);
  --theme-colour-border-neutral-low: var(--asphalt-2);
  --theme-colour-text-brand-on-primary: var(--agnostic-black);
  --theme-colour-icon-brand-invert-on-primary: var(--agnostic-black);
  --theme-colour-text-neutral-medium: var(--asphalt-5);
  --theme-colour-text-brand-on-secondary: var(--asphalt-invert);
  --theme-colour-icon-brand-invert-on-secondary: var(--asphalt-18);
  --theme-colour-icon-neutral-high: var(--asphalt-18);
  --theme-colour-icon-neutral-low: var(--asphalt-3);
  --theme-colour-icon-brand-on-primary: var(--agnostic-white);
  --theme-colour-icon-neutral-medium: var(--asphalt-5);
  --theme-colour-icon-brand-on-secondary: var(--asphalt-invert);
  --theme-colour-icon-info-medium: var(--aegean-5);
  --theme-colour-text-info-medium: var(--aegean-5);
  --theme-colour-text-neutral-low: var(--asphalt-3);
  --theme-colour-text-brand-invert-on-primary: var(--agnostic-white);
  --theme-colour-text-brand-invert-on-secondary: var(--asphalt-18);
  --theme-colour-text-neutral-high: var(--asphalt-18);
  --theme-colour-text-alert-low: var(--amber-1);
  --theme-colour-text-alert-low-alt: var(--amber-2);
  --theme-colour-text-alert-high: var(--amber-7);
  --theme-colour-text-agnostic-black: var(--agnostic-black);
  --theme-colour-text-info-low: var(--aegean-1);
  --theme-colour-text-info-high: var(--aegean-7);
  --theme-colour-text-neutral-invert: var(--asphalt-invert);
  --theme-colour-text-negative-low: var(--crimson-1);
  --theme-colour-text-negative-medium: var(--crimson-5);
  --theme-colour-text-negative-high: var(--crimson-7);
  --theme-colour-text-positive-low: var(--emerald-1);
  --theme-colour-text-positive-medium: var(--emerald-5);
  --theme-colour-text-positive-high: var(--emerald-7);
  --theme-colour-text-premium-low: var(--lavender-1);
  --theme-colour-text-premium-medium: var(--lavender-5);
  --theme-colour-text-premium-high: var(--lavender-7);
  --theme-colour-background-alert-high: var(--amber-7);
  --theme-colour-background-agnostic-black: var(--agnostic-black);
  --theme-colour-background-info-high: var(--aegean-7);
  --theme-colour-background-negative-high: var(--crimson-7);
  --theme-colour-background-neutral-high-alt: var(--asphalt-18);
  --theme-colour-background-positive-high: var(--emerald-7);
  --theme-colour-background-premium-high: var(--lavender-7);
  --theme-colour-border-alert-high: var(--amber-7);
  --theme-colour-border-agnostic-black: var(--agnostic-black);
  --theme-colour-border-info-high: var(--aegean-7);
  --theme-colour-border-neutral-invert: var(--asphalt-invert);
  --theme-colour-border-negative-high: var(--crimson-7);
  --theme-colour-border-positive-high: var(--emerald-7);
  --theme-colour-border-premium-high: var(--lavender-7);
  --theme-colour-background-alert-low: var(--amber-1);
  --theme-colour-background-alert-medium: var(--amber-2);
  --theme-colour-background-info-low: var(--aegean-1);
  --theme-colour-background-info-medium: var(--aegean-5);
  --theme-colour-background-negative-low: var(--crimson-1);
  --theme-colour-background-negative-medium: var(--crimson-5);
  --theme-colour-background-positive-low: var(--emerald-1);
  --theme-colour-background-positive-medium: var(--emerald-5);
  --theme-colour-background-premium-low: var(--lavender-1);
  --theme-colour-background-premium-medium: var(--lavender-5);
  --theme-colour-background-neutral-high: var(--asphalt-7);
  --theme-colour-icon-alert-high: var(--amber-7);
  --theme-colour-icon-agnostic-black: var(--agnostic-black);
  --theme-colour-icon-info-high: var(--aegean-7);
  --theme-colour-icon-neutral-invert: var(--asphalt-invert);
  --theme-colour-icon-negative-high: var(--crimson-7);
  --theme-colour-icon-positive-high: var(--emerald-7);
  --theme-colour-icon-premium-high: var(--lavender-7);
  --theme-font-letter-spacing-h1: -1.5px;
  --theme-font-letter-spacing-button: 0px;
  --theme-font-letter-spacing-h2: -1px;
  --theme-font-letter-spacing-h3: -1px;
  --theme-font-letter-spacing-h4: -0.6000000238418579px;
  --theme-font-letter-spacing-h5: -0.5px;
  --theme-font-letter-spacing-h6: -0.3499999940395355px;
  --theme-font-letter-spacing-micro: 0px;
  --theme-font-letter-spacing-overline: 0.4000000059604645px;
  --theme-font-letter-spacing-caption-high: 0px;
  --theme-font-letter-spacing-caption-regular: 0px;
  --theme-font-letter-spacing-subtitle-1-high: -0.30000001192092896px;
  --theme-font-letter-spacing-subtitle-1-regular: 0px;
  --theme-font-letter-spacing-subtitle-2-high: -0.10000000149011612px;
  --theme-font-letter-spacing-subtitle-2-regular: 0px;
  --theme-font-line-height-button: 24px;
  --theme-font-line-height-caption: 16px;
  --theme-font-line-height-h1: 72px;
  --theme-font-line-height-h2: 60px;
  --theme-font-line-height-h3: 48px;
  --theme-font-line-height-h4: 40px;
  --theme-font-line-height-h5: 30px;
  --theme-font-line-height-h6: 28px;
  --theme-font-line-height-micro: 12px;
  --theme-font-line-height-overline: 16px;
  --theme-font-line-height-subtitle-1: 24px;
  --theme-font-line-height-subtitle-2: 22px;
  --theme-font-size-button: 14px;
  --theme-font-size-caption: 12px;
  --theme-font-size-h1: 69px;
  --theme-font-size-h2: 50px;
  --theme-font-size-h3: 40px;
  --theme-font-size-h4: 32px;
  --theme-font-size-h5: 25px;
  --theme-font-size-h6: 20px;
  --theme-font-size-micro: 10px;
  --theme-font-size-overline: 11px;
  --theme-font-size-subtitle-1: 16px;
  --theme-font-size-subtitle-2: 14px;
  --theme-font-weight-high: 400px;
  --theme-font-weight-medium: 600px;
  --theme-font-weight-regular: 400px;
  --theme-size-border-radius-pill: var(--dimension-scale-1600);
  --theme-size-border-radius-xl: var(--dimension-scale-300);
  --theme-size-border-radius-xs: var(--dimension-scale-50);
  --theme-size-border-radius-xxl: var(--dimension-scale-400);
  --theme-size-icon-lg: var(--dimension-scale-400);
  --theme-size-icon-md: var(--dimension-scale-300);
  --theme-size-icon-sm: var(--dimension-scale-200);
  --theme-screen-space-default: var(--space-sm-5);
  --theme-screen-space-optical: var(--space-sm-3);
  --theme-screen-colour-alt: var(--screen-2);
  --theme-screen-colour-default: var(--screen-1);
  --theme-colour-background-agnostic-white: var(--agnostic-white);
  --theme-colour-background-neutral-medium: var(--asphalt-3);
  --theme-colour-background-neutral-medium-alt: var(--asphalt-5);
  --theme-colour-background-offer-high: var(--rust-5);
  --theme-colour-background-offer-low: var(--rust-1);
  --theme-colour-icon-offer-high: var(--rust-7);
  --theme-colour-icon-offer-low: var(--rust-1);
  --theme-colour-icon-offer-medium: var(--rust-5);
  --theme-colour-icon-rating-filled: var(--aegean-7);
  --theme-colour-icon-rating-unfilled: var(--asphalt-2);
  --theme-colour-icon-agnostic-white: var(--agnostic-white);
  --theme-colour-icon-alert-low: var(--amber-1);
  --theme-colour-icon-alert-low-alt: var(--amber-2);
  --theme-colour-icon-alert-medium: var(--amber-5);
  --theme-colour-icon-brand-primary: var(--gold-1);
  --theme-colour-icon-brand-secondary: var(--asphalt-18);
  --theme-colour-icon-info-low: var(--aegean-1);
  --theme-colour-icon-negative-low: var(--crimson-1);
  --theme-colour-icon-negative-medium: var(--crimson-5);
  --theme-colour-icon-positive-low: var(--emerald-1);
  --theme-colour-icon-positive-medium: var(--emerald-5);
  --theme-colour-icon-premium-low: var(--lavender-1);
  --theme-colour-icon-premium-medium: var(--lavender-5);
  --theme-colour-text-offer-on-high: var(--asphalt-invert);
  --theme-colour-text-offer-on-low: var(--rust-5);
  --theme-colour-text-agnostic-white: var(--agnostic-white);
  --theme-colour-text-alert-medium: var(--amber-5);
  --theme-colour-text-brand-primary: var(--gold-1);
  --theme-colour-text-brand-secondary: var(--asphalt-18);
  --theme-colour-border-agnostic-white: var(--agnostic-white);
  --theme-colour-border-alert-low: var(--amber-1);
  --theme-colour-border-alert-medium: var(--amber-2);
  --theme-colour-border-brand-primary: var(--aegean-7);
  --theme-colour-border-brand-secondary: var(--asphalt-18);
  --theme-colour-border-info-low: var(--aegean-1);
  --theme-colour-border-info-medium: var(--aegean-5);
  --theme-colour-border-negative-low: var(--crimson-1);
  --theme-colour-border-negative-medium: var(--crimson-5);
  --theme-colour-border-neutral-medium: var(--asphalt-3);
  --theme-colour-border-positive-low: var(--emerald-1);
  --theme-colour-border-positive-medium: var(--emerald-5);
  --theme-colour-border-premium-low: var(--lavender-1);
  --theme-colour-border-premium-medium: var(--lavender-5);
  --theme-space-fixed-md-1: var(--dimension-fixed-300);
  --theme-space-fixed-md-2: var(--dimension-fixed-400);
  --theme-space-fixed-md-3: var(--dimension-fixed-500);
  --theme-space-fixed-md-4: var(--dimension-fixed-600);
  --theme-space-fixed-sm-1: var(--dimension-fixed-25);
  --theme-space-fixed-sm-2: var(--dimension-fixed-50);
  --theme-space-fixed-sm-3: var(--dimension-fixed-100);
  --theme-space-fixed-sm-4: var(--dimension-fixed-150);
  --theme-space-fixed-sm-5: var(--dimension-fixed-200);
  --theme-space-scale-lg-1: var(--space-lg-1);
  --theme-space-scale-lg-2: var(--space-lg-2);
  --theme-space-scale-lg-3: var(--space-lg-3);
  --theme-space-scale-lg-4: var(--space-lg-4);
  --theme-space-scale-lg-5: var(--space-lg-5);
  --theme-space-scale-md-1: var(--space-md-1);
  --theme-space-scale-md-2: var(--space-md-2);
  --theme-space-scale-md-3: var(--space-md-3);
  --theme-space-scale-md-4: var(--space-md-4);
  --theme-space-scale-md-5: var(--space-md-5);
  --theme-space-scale-sm-1: var(--space-sm-1);
  --theme-space-scale-sm-2: var(--space-sm-2);
  --theme-space-scale-sm-3: var(--space-sm-3);
  --theme-space-scale-sm-4: var(--space-sm-4);
  --theme-space-scale-sm-5: var(--space-sm-5);
}
:root[data-theme="Danland"] {
  --theme-size-border-radius-lg: var(--dimension-scale-200);
  --theme-size-border-radius-md: var(--dimension-scale-150);
  --theme-size-border-radius-sm: var(--dimension-fixed-100);
  --theme-colour-background-neutral-low: var(--asphalt-1);
  --theme-colour-background-neutral-invert: var(--asphalt-invert);
  --theme-colour-background-brand-on-primary: var(--agnostic-white);
  --theme-colour-background-neutral-low-alt: var(--asphalt-2);
  --theme-colour-background-brand-on-secondary: var(--agnostic-white);
  --theme-colour-background-brand-primary: var(--aegean-7);
  --theme-colour-background-brand-secondary: var(--asphalt-18);
  --theme-colour-border-neutral-high: var(--asphalt-18);
  --theme-colour-border-neutral-low: var(--asphalt-2);
  --theme-colour-text-brand-on-primary: var(--asphalt-invert);
  --theme-colour-icon-brand-invert-on-primary: var(--agnostic-black);
  --theme-colour-text-neutral-medium: var(--asphalt-5);
  --theme-colour-text-brand-on-secondary: var(--asphalt-invert);
  --theme-colour-icon-brand-invert-on-secondary: var(--asphalt-18);
  --theme-colour-icon-neutral-high: var(--asphalt-18);
  --theme-colour-icon-neutral-low: var(--asphalt-3);
  --theme-colour-icon-brand-on-primary: var(--agnostic-white);
  --theme-colour-icon-neutral-medium: var(--asphalt-5);
  --theme-colour-icon-brand-on-secondary: var(--asphalt-invert);
  --theme-colour-icon-info-medium: var(--aegean-5);
  --theme-colour-text-info-medium: var(--aegean-5);
  --theme-colour-text-neutral-low: var(--asphalt-3);
  --theme-colour-text-brand-invert-on-primary: var(--asphalt-18);
  --theme-colour-text-brand-invert-on-secondary: var(--asphalt-18);
  --theme-colour-text-neutral-high: var(--asphalt-18);
  --theme-colour-text-alert-low: var(--amber-1);
  --theme-colour-text-alert-low-alt: var(--amber-2);
  --theme-colour-text-alert-high: var(--amber-7);
  --theme-colour-text-agnostic-black: var(--agnostic-black);
  --theme-colour-text-info-low: var(--aegean-1);
  --theme-colour-text-info-high: var(--aegean-7);
  --theme-colour-text-neutral-invert: var(--asphalt-invert);
  --theme-colour-text-negative-low: var(--crimson-1);
  --theme-colour-text-negative-medium: var(--crimson-5);
  --theme-colour-text-negative-high: var(--crimson-7);
  --theme-colour-text-positive-low: var(--emerald-1);
  --theme-colour-text-positive-medium: var(--emerald-5);
  --theme-colour-text-positive-high: var(--emerald-7);
  --theme-colour-text-premium-low: var(--lavender-1);
  --theme-colour-text-premium-medium: var(--lavender-5);
  --theme-colour-text-premium-high: var(--lavender-7);
  --theme-colour-background-alert-high: var(--amber-7);
  --theme-colour-background-agnostic-black: var(--agnostic-black);
  --theme-colour-background-info-high: var(--aegean-7);
  --theme-colour-background-negative-high: var(--crimson-7);
  --theme-colour-background-neutral-high-alt: var(--asphalt-18);
  --theme-colour-background-positive-high: var(--emerald-7);
  --theme-colour-background-premium-high: var(--lavender-7);
  --theme-colour-border-alert-high: var(--amber-7);
  --theme-colour-border-agnostic-black: var(--agnostic-black);
  --theme-colour-border-info-high: var(--aegean-7);
  --theme-colour-border-neutral-invert: var(--asphalt-invert);
  --theme-colour-border-negative-high: var(--crimson-7);
  --theme-colour-border-positive-high: var(--emerald-7);
  --theme-colour-border-premium-high: var(--lavender-7);
  --theme-colour-background-alert-low: var(--amber-1);
  --theme-colour-background-alert-medium: var(--amber-2);
  --theme-colour-background-info-low: var(--aegean-1);
  --theme-colour-background-info-medium: var(--aegean-5);
  --theme-colour-background-negative-low: var(--crimson-1);
  --theme-colour-background-negative-medium: var(--crimson-5);
  --theme-colour-background-positive-low: var(--emerald-1);
  --theme-colour-background-positive-medium: var(--emerald-5);
  --theme-colour-background-premium-low: var(--lavender-1);
  --theme-colour-background-premium-medium: var(--lavender-5);
  --theme-colour-background-neutral-high: var(--asphalt-7);
  --theme-colour-icon-alert-high: var(--amber-7);
  --theme-colour-icon-agnostic-black: var(--agnostic-black);
  --theme-colour-icon-info-high: var(--aegean-7);
  --theme-colour-icon-neutral-invert: var(--asphalt-invert);
  --theme-colour-icon-negative-high: var(--crimson-7);
  --theme-colour-icon-positive-high: var(--emerald-7);
  --theme-colour-icon-premium-high: var(--lavender-7);
  --theme-font-letter-spacing-h1: -1.5px;
  --theme-font-letter-spacing-button: 0px;
  --theme-font-letter-spacing-h2: -1px;
  --theme-font-letter-spacing-h3: -1px;
  --theme-font-letter-spacing-h4: -0.6000000238418579px;
  --theme-font-letter-spacing-h5: -0.5px;
  --theme-font-letter-spacing-h6: -0.3499999940395355px;
  --theme-font-letter-spacing-micro: 0px;
  --theme-font-letter-spacing-overline: 0.4000000059604645px;
  --theme-font-letter-spacing-caption-high: 0px;
  --theme-font-letter-spacing-caption-regular: 0px;
  --theme-font-letter-spacing-subtitle-1-high: -0.30000001192092896px;
  --theme-font-letter-spacing-subtitle-1-regular: 0px;
  --theme-font-letter-spacing-subtitle-2-high: -0.10000000149011612px;
  --theme-font-letter-spacing-subtitle-2-regular: 0px;
  --theme-font-line-height-button: 24px;
  --theme-font-line-height-caption: 16px;
  --theme-font-line-height-h1: 72px;
  --theme-font-line-height-h2: 60px;
  --theme-font-line-height-h3: 48px;
  --theme-font-line-height-h4: 40px;
  --theme-font-line-height-h5: 30px;
  --theme-font-line-height-h6: 28px;
  --theme-font-line-height-micro: 12px;
  --theme-font-line-height-overline: 16px;
  --theme-font-line-height-subtitle-1: 24px;
  --theme-font-line-height-subtitle-2: 22px;
  --theme-font-size-button: 14px;
  --theme-font-size-caption: 12px;
  --theme-font-size-h1: 69px;
  --theme-font-size-h2: 50px;
  --theme-font-size-h3: 40px;
  --theme-font-size-h4: 32px;
  --theme-font-size-h5: 25px;
  --theme-font-size-h6: 20px;
  --theme-font-size-micro: 10px;
  --theme-font-size-overline: 11px;
  --theme-font-size-subtitle-1: 16px;
  --theme-font-size-subtitle-2: 14px;
  --theme-font-weight-high: 700px;
  --theme-font-weight-medium: 500px;
  --theme-font-weight-regular: 400px;
  --theme-size-border-radius-pill: var(--dimension-scale-1600);
  --theme-size-border-radius-xl: var(--dimension-scale-300);
  --theme-size-border-radius-xs: var(--dimension-scale-50);
  --theme-size-border-radius-xxl: var(--dimension-scale-400);
  --theme-size-icon-lg: var(--dimension-scale-400);
  --theme-size-icon-md: var(--dimension-scale-300);
  --theme-size-icon-sm: var(--dimension-scale-200);
  --theme-screen-space-default: var(--space-sm-5);
  --theme-screen-space-optical: var(--space-sm-3);
  --theme-screen-colour-alt: var(--screen-2);
  --theme-screen-colour-default: var(--screen-1);
  --theme-colour-background-agnostic-white: var(--agnostic-white);
  --theme-colour-background-neutral-medium: var(--asphalt-3);
  --theme-colour-background-neutral-medium-alt: var(--asphalt-5);
  --theme-colour-background-offer-high: var(--rust-5);
  --theme-colour-background-offer-low: var(--rust-1);
  --theme-colour-icon-offer-high: var(--rust-7);
  --theme-colour-icon-offer-low: var(--rust-1);
  --theme-colour-icon-offer-medium: var(--rust-5);
  --theme-colour-icon-rating-filled: var(--aegean-7);
  --theme-colour-icon-rating-unfilled: var(--asphalt-2);
  --theme-colour-icon-agnostic-white: var(--agnostic-white);
  --theme-colour-icon-alert-low: var(--amber-1);
  --theme-colour-icon-alert-low-alt: var(--amber-2);
  --theme-colour-icon-alert-medium: var(--amber-5);
  --theme-colour-icon-brand-primary: var(--aegean-7);
  --theme-colour-icon-brand-secondary: var(--asphalt-18);
  --theme-colour-icon-info-low: var(--aegean-1);
  --theme-colour-icon-negative-low: var(--crimson-1);
  --theme-colour-icon-negative-medium: var(--crimson-5);
  --theme-colour-icon-positive-low: var(--emerald-1);
  --theme-colour-icon-positive-medium: var(--emerald-5);
  --theme-colour-icon-premium-low: var(--lavender-1);
  --theme-colour-icon-premium-medium: var(--lavender-5);
  --theme-colour-text-offer-on-high: var(--asphalt-invert);
  --theme-colour-text-offer-on-low: var(--rust-5);
  --theme-colour-text-agnostic-white: var(--agnostic-white);
  --theme-colour-text-alert-medium: var(--amber-5);
  --theme-colour-text-brand-primary: var(--aegean-7);
  --theme-colour-text-brand-secondary: var(--asphalt-18);
  --theme-colour-border-agnostic-white: var(--agnostic-white);
  --theme-colour-border-alert-low: var(--amber-1);
  --theme-colour-border-alert-medium: var(--amber-2);
  --theme-colour-border-brand-primary: var(--aegean-7);
  --theme-colour-border-brand-secondary: var(--asphalt-18);
  --theme-colour-border-info-low: var(--aegean-1);
  --theme-colour-border-info-medium: var(--aegean-5);
  --theme-colour-border-negative-low: var(--crimson-1);
  --theme-colour-border-negative-medium: var(--crimson-5);
  --theme-colour-border-neutral-medium: var(--asphalt-3);
  --theme-colour-border-positive-low: var(--emerald-1);
  --theme-colour-border-positive-medium: var(--emerald-5);
  --theme-colour-border-premium-low: var(--lavender-1);
  --theme-colour-border-premium-medium: var(--lavender-5);
  --theme-space-fixed-md-1: var(--dimension-fixed-300);
  --theme-space-fixed-md-2: var(--dimension-fixed-400);
  --theme-space-fixed-md-3: var(--dimension-fixed-500);
  --theme-space-fixed-md-4: var(--dimension-fixed-600);
  --theme-space-fixed-sm-1: var(--dimension-fixed-25);
  --theme-space-fixed-sm-2: var(--dimension-fixed-50);
  --theme-space-fixed-sm-3: var(--dimension-fixed-100);
  --theme-space-fixed-sm-4: var(--dimension-fixed-150);
  --theme-space-fixed-sm-5: var(--dimension-fixed-200);
  --theme-space-scale-lg-1: var(--space-lg-1);
  --theme-space-scale-lg-2: var(--space-lg-2);
  --theme-space-scale-lg-3: var(--space-lg-3);
  --theme-space-scale-lg-4: var(--space-lg-4);
  --theme-space-scale-lg-5: var(--space-lg-5);
  --theme-space-scale-md-1: var(--space-md-1);
  --theme-space-scale-md-2: var(--space-md-2);
  --theme-space-scale-md-3: var(--space-md-3);
  --theme-space-scale-md-4: var(--space-md-4);
  --theme-space-scale-md-5: var(--space-md-5);
  --theme-space-scale-sm-1: var(--space-sm-1);
  --theme-space-scale-sm-2: var(--space-sm-2);
  --theme-space-scale-sm-3: var(--space-sm-3);
  --theme-space-scale-sm-4: var(--space-sm-4);
  --theme-space-scale-sm-5: var(--space-sm-5);
}
:root[data-numbers="mobile"] {
  --dimension-fixed-0: 0px;
  --dimension-scale-200: 16px;
  --dimension-scale-150: 12px;
  --dimension-fixed-100: 8px;
  --dimension-scale-1600: 128px;
  --dimension-scale-300: 24px;
  --dimension-scale-50: 4px;
  --dimension-scale-400: 32px;
  --dimension-fixed-25: 2px;
  --dimension-fixed-300: 24px;
  --dimension-fixed-400: 32px;
  --dimension-fixed-500: 40px;
  --dimension-fixed-600: 48px;
  --dimension-fixed-50: 4px;
  --dimension-fixed-150: 12px;
  --dimension-fixed-200: 16px;
  --dimension-scale-700: 56px;
  --dimension-scale-600: 48px;
  --dimension-scale-800: 64px;
  --dimension-scale-900: 72px;
  --dimension-scale-1000: 80px;
  --dimension-scale-1100: 88px;
  --dimension-scale-1200: 96px;
  --dimension-scale-500: 40px;
  --dimension-scale-100: 8px;
  --dimension-scale-1400: 112px;
}
:root[data-numbers="desktop"] {
  --dimension-fixed-0: 0px;
  --dimension-scale-200: 24px;
  --dimension-scale-150: 16px;
  --dimension-fixed-100: 8px;
  --dimension-scale-1600: 144px;
  --dimension-scale-300: 32px;
  --dimension-scale-50: 8px;
  --dimension-scale-400: 40px;
  --dimension-fixed-25: 2px;
  --dimension-fixed-300: 24px;
  --dimension-fixed-400: 32px;
  --dimension-fixed-500: 40px;
  --dimension-fixed-600: 48px;
  --dimension-fixed-50: 4px;
  --dimension-fixed-150: 12px;
  --dimension-fixed-200: 16px;
  --dimension-scale-700: 64px;
  --dimension-scale-600: 56px;
  --dimension-scale-800: 72px;
  --dimension-scale-900: 80px;
  --dimension-scale-1000: 88px;
  --dimension-scale-1100: 96px;
  --dimension-scale-1200: 112px;
  --dimension-scale-500: 48px;
  --dimension-scale-100: 12px;
  --dimension-scale-1400: 128px;
}
:root[data-colours="dark"] {
  --asphalt-1: rgb(51, 51, 51);
  --asphalt-invert: rgb(40, 40, 40);
  --agnostic-white: rgb(255, 255, 255);
  --asphalt-2: rgb(69, 69, 69);
  --violet-7: rgb(200, 163, 255);
  --aegean-7: rgb(112, 184, 255);
  --asphalt-18: rgb(255, 255, 255);
  --agnostic-black: rgb(33, 33, 33);
  --asphalt-5: rgb(140, 140, 140);
  --asphalt-3: rgb(82, 82, 82);
  --sky-5: rgb(89, 155, 222);
  --aegean-5: rgb(89, 155, 222);
  --aegean-1: rgb(45, 50, 56);
  --amber-1: rgb(51, 48, 41);
  --amber-2: rgb(241, 170, 16);
  --amber-5: rgb(192, 156, 77);
  --amber-7: rgb(214, 174, 86);
  --asphalt-7: rgb(179, 179, 179);
  --berry-5: rgb(232, 23, 58);
  --crimson-1: rgb(51, 41, 43);
  --crimson-5: rgb(192, 142, 151);
  --crimson-7: rgb(213, 164, 172);
  --emerald-1: rgb(34, 40, 39);
  --emerald-5: rgb(113, 160, 148);
  --emerald-7: rgb(114, 194, 172);
  --firebrick-5: rgb(204, 51, 51);
  --gold-1: rgb(255, 209, 0);
  --lavender-1: rgb(49, 45, 56);
  --lavender-5: rgb(175, 125, 255);
  --lavender-7: rgb(200, 163, 255);
  --lime-2: rgb(23, 210, 134);
  --rust-1: rgb(31, 21, 13);
  --rust-5: rgb(254, 169, 95);
  --rust-7: rgb(255, 221, 189);
  --screen-1: rgb(29, 29, 29);
  --screen-2: rgb(29, 29, 29);
  --sky-1: rgb(45, 50, 56);
  --sky-7: rgb(112, 184, 255);
  --teal-1: rgb(1, 50, 50);
  --teal-5: rgb(0, 169, 169);
  --teal-7: rgb(0, 199, 199);
  --violet-1: rgb(49, 45, 56);
  --violet-5: rgb(175, 125, 255);
}
:root[data-colours="light"] {
  --asphalt-1: rgb(245, 245, 245);
  --asphalt-invert: rgb(255, 255, 255);
  --agnostic-white: rgb(255, 255, 255);
  --asphalt-2: rgb(211, 211, 211);
  --violet-7: rgb(142, 103, 48);
  --aegean-7: rgb(4, 92, 141);
  --asphalt-18: rgb(40, 40, 40);
  --agnostic-black: rgb(33, 33, 33);
  --asphalt-5: rgb(111, 111, 111);
  --asphalt-3: rgb(181, 181, 181);
  --sky-5: rgb(84, 114, 138);
  --aegean-5: rgb(11, 117, 176);
  --aegean-1: rgb(238, 248, 254);
  --amber-1: rgb(251, 249, 247);
  --amber-2: rgb(205, 179, 154);
  --amber-5: rgb(148, 110, 63);
  --amber-7: rgb(118, 87, 51);
  --asphalt-7: rgb(77, 77, 77);
  --berry-5: rgb(203, 16, 47);
  --crimson-1: rgb(251, 246, 247);
  --crimson-5: rgb(160, 90, 102);
  --crimson-7: rgb(141, 65, 78);
  --emerald-1: rgb(244, 250, 249);
  --emerald-5: rgb(79, 118, 108);
  --emerald-7: rgb(59, 96, 86);
  --firebrick-5: rgb(204, 51, 51);
  --gold-1: rgb(253, 196, 0);
  --lavender-1: rgb(249, 245, 255);
  --lavender-5: rgb(128, 85, 195);
  --lavender-7: rgb(107, 68, 165);
  --lime-2: rgb(23, 210, 134);
  --rust-1: rgb(255, 247, 236);
  --rust-5: rgb(176, 96, 0);
  --rust-7: rgb(134, 73, 0);
  --screen-1: rgb(255, 255, 255);
  --screen-2: rgb(245, 245, 245);
  --sky-1: rgb(242, 246, 250);
  --sky-7: rgb(60, 92, 119);
  --teal-1: rgb(225, 255, 255);
  --teal-5: rgb(0, 123, 123);
  --teal-7: rgb(0, 99, 99);
  --violet-1: rgb(251, 249, 253);
  --violet-5: rgb(142, 103, 48);
}
:root[data-feedback="low"] {
  --feedback-button-color-text-alert-on-primary: var(
    --theme-colour-text-alert-low
  );
  --feedback-button-color-text-alert-on-secondary: var(
    --theme-colour-text-alert-high
  );
  --feedback-button-color-text-info-on-primary: var(
    --theme-colour-text-info-low
  );
  --feedback-button-color-text-info-on-secondary: var(
    --theme-colour-text-info-high
  );
  --feedback-button-color-text-negative-on-primary: var(
    --theme-colour-text-negative-low
  );
  --feedback-button-color-text-negative-on-secondary: var(
    --theme-colour-text-negative-high
  );
  --feedback-button-color-text-neutral-on-primary: var(
    --theme-colour-text-neutral-invert
  );
  --feedback-button-color-text-neutral-on-secondary: var(
    --theme-colour-text-neutral-high
  );
  --feedback-button-color-text-positive-on-primary: var(
    --theme-colour-text-positive-low
  );
  --feedback-button-color-text-positive-on-secondary: var(
    --theme-colour-text-positive-high
  );
  --feedback-button-color-text-premium-on-primary: var(
    --theme-colour-text-premium-low
  );
  --feedback-button-color-text-premium-on-secondary: var(
    --theme-colour-text-premium-high
  );
  --feedback-button-color-background-alert: var(
    --theme-colour-background-alert-high
  );
  --feedback-button-color-background-info: var(
    --theme-colour-background-info-high
  );
  --feedback-button-color-background-negative: var(
    --theme-colour-background-negative-high
  );
  --feedback-button-color-background-neutral: var(
    --theme-colour-background-neutral-high-alt
  );
  --feedback-button-color-background-positive: var(
    --theme-colour-background-positive-high
  );
  --feedback-button-color-background-premium: var(
    --theme-colour-background-premium-high
  );
  --feedback-button-color-border-alert: var(--theme-colour-border-alert-high);
  --feedback-button-color-border-info: var(--theme-colour-border-info-high);
  --feedback-button-color-border-negative: var(
    --theme-colour-border-negative-high
  );
  --feedback-button-color-border-neutral: var(
    --theme-colour-border-neutral-high
  );
  --feedback-button-color-border-positive: var(
    --theme-colour-border-positive-high
  );
  --feedback-button-color-border-premium: var(
    --theme-colour-border-premium-high
  );
  --feedback-color-background-alert: var(--theme-colour-background-alert-low);
  --feedback-color-background-info: var(--theme-colour-background-info-low);
  --feedback-color-background-negative: var(
    --theme-colour-background-negative-low
  );
  --feedback-color-background-positive: var(
    --theme-colour-background-positive-low
  );
  --feedback-color-background-premium: var(
    --theme-colour-background-premium-low
  );
  --feedback-color-background-neutral-invert: var(
    --theme-colour-background-neutral-invert
  );
  --feedback-color-background-neutral-regular: var(
    --theme-colour-background-neutral-low
  );
  --feedback-color-icon-alert: var(--theme-colour-icon-alert-high);
  --feedback-color-icon-info: var(--theme-colour-icon-info-high);
  --feedback-color-icon-negative: var(--theme-colour-icon-negative-high);
  --feedback-color-icon-neutral: var(--theme-colour-icon-neutral-high);
  --feedback-color-icon-positive: var(--theme-colour-icon-positive-high);
  --feedback-color-icon-premium: var(--theme-colour-icon-premium-high);
  --feedback-color-text-alert: var(--theme-colour-text-alert-high);
  --feedback-color-text-info: var(--theme-colour-text-info-high);
  --feedback-color-text-negative: var(--theme-colour-text-negative-high);
  --feedback-color-text-neutral: var(--theme-colour-text-neutral-high);
  --feedback-color-text-positive: var(--theme-colour-text-positive-high);
  --feedback-color-text-premium: var(--theme-colour-text-premium-high);
}
:root[data-feedback="high"] {
  --feedback-button-color-text-alert-on-primary: var(
    --theme-colour-text-alert-low-alt
  );
  --feedback-button-color-text-alert-on-secondary: var(
    --theme-colour-text-agnostic-black
  );
  --feedback-button-color-text-info-on-primary: var(
    --theme-colour-text-info-medium
  );
  --feedback-button-color-text-info-on-secondary: var(
    --theme-colour-text-neutral-invert
  );
  --feedback-button-color-text-negative-on-primary: var(
    --theme-colour-text-negative-medium
  );
  --feedback-button-color-text-negative-on-secondary: var(
    --theme-colour-text-neutral-invert
  );
  --feedback-button-color-text-neutral-on-primary: var(
    --theme-colour-text-neutral-high
  );
  --feedback-button-color-text-neutral-on-secondary: var(
    --theme-colour-text-neutral-invert
  );
  --feedback-button-color-text-positive-on-primary: var(
    --theme-colour-text-positive-medium
  );
  --feedback-button-color-text-positive-on-secondary: var(
    --theme-colour-text-neutral-invert
  );
  --feedback-button-color-text-premium-on-primary: var(
    --theme-colour-text-premium-medium
  );
  --feedback-button-color-text-premium-on-secondary: var(
    --theme-colour-text-neutral-invert
  );
  --feedback-button-color-background-alert: var(
    --theme-colour-background-agnostic-black
  );
  --feedback-button-color-background-info: var(
    --theme-colour-background-neutral-invert
  );
  --feedback-button-color-background-negative: var(
    --theme-colour-background-neutral-invert
  );
  --feedback-button-color-background-neutral: var(
    --theme-colour-background-neutral-invert
  );
  --feedback-button-color-background-positive: var(
    --theme-colour-background-neutral-invert
  );
  --feedback-button-color-background-premium: var(
    --theme-colour-background-neutral-invert
  );
  --feedback-button-color-border-alert: var(
    --theme-colour-border-agnostic-black
  );
  --feedback-button-color-border-info: var(
    --theme-colour-border-neutral-invert
  );
  --feedback-button-color-border-negative: var(
    --theme-colour-border-neutral-invert
  );
  --feedback-button-color-border-neutral: var(
    --theme-colour-border-neutral-invert
  );
  --feedback-button-color-border-positive: var(
    --theme-colour-border-neutral-invert
  );
  --feedback-button-color-border-premium: var(
    --theme-colour-border-neutral-invert
  );
  --feedback-color-background-alert: var(
    --theme-colour-background-alert-medium
  );
  --feedback-color-background-info: var(--theme-colour-background-info-medium);
  --feedback-color-background-negative: var(
    --theme-colour-background-negative-medium
  );
  --feedback-color-background-positive: var(
    --theme-colour-background-positive-medium
  );
  --feedback-color-background-premium: var(
    --theme-colour-background-premium-medium
  );
  --feedback-color-background-neutral-invert: var(
    --theme-colour-background-neutral-high
  );
  --feedback-color-background-neutral-regular: var(
    --theme-colour-background-neutral-high
  );
  --feedback-color-icon-alert: var(--theme-colour-icon-agnostic-black);
  --feedback-color-icon-info: var(--theme-colour-icon-neutral-invert);
  --feedback-color-icon-negative: var(--theme-colour-icon-neutral-invert);
  --feedback-color-icon-neutral: var(--theme-colour-icon-neutral-invert);
  --feedback-color-icon-positive: var(--theme-colour-icon-neutral-invert);
  --feedback-color-icon-premium: var(--theme-colour-icon-neutral-invert);
  --feedback-color-text-alert: var(--theme-colour-text-agnostic-black);
  --feedback-color-text-info: var(--theme-colour-text-neutral-invert);
  --feedback-color-text-negative: var(--theme-colour-text-neutral-invert);
  --feedback-color-text-neutral: var(--theme-colour-text-neutral-invert);
  --feedback-color-text-positive: var(--theme-colour-text-neutral-invert);
  --feedback-color-text-premium: var(--theme-colour-text-neutral-invert);
}
:root[data-density="dense"] {
  --space-md-1: var(--dimension-scale-200);
  --space-sm-5: var(--dimension-scale-150);
  --space-sm-3: var(--dimension-scale-50);
  --space-lg-1: var(--dimension-scale-700);
  --space-lg-2: var(--dimension-scale-800);
  --space-lg-3: var(--dimension-scale-900);
  --space-lg-4: var(--dimension-scale-1000);
  --space-lg-5: var(--dimension-scale-1100);
  --space-md-2: var(--dimension-scale-300);
  --space-md-3: var(--dimension-scale-400);
  --space-md-4: var(--dimension-scale-500);
  --space-md-5: var(--dimension-scale-600);
  --space-sm-1: var(--dimension-fixed-0);
  --space-sm-2: var(--dimension-fixed-25);
  --space-sm-4: var(--dimension-fixed-100);
}
:root[data-density="tight"] {
  --space-md-1: var(--dimension-fixed-100);
  --space-sm-5: var(--dimension-fixed-100);
  --space-sm-3: var(--dimension-fixed-25);
  --space-lg-1: var(--dimension-scale-600);
  --space-lg-2: var(--dimension-scale-700);
  --space-lg-3: var(--dimension-scale-800);
  --space-lg-4: var(--dimension-scale-900);
  --space-lg-5: var(--dimension-scale-1000);
  --space-md-2: var(--dimension-scale-200);
  --space-md-3: var(--dimension-scale-300);
  --space-md-4: var(--dimension-scale-400);
  --space-md-5: var(--dimension-scale-500);
  --space-sm-1: var(--dimension-fixed-0);
  --space-sm-2: var(--dimension-fixed-0);
  --space-sm-4: var(--dimension-scale-50);
}
:root[data-density="comfortable"] {
  --space-md-1: var(--dimension-scale-300);
  --space-sm-5: var(--dimension-scale-200);
  --space-sm-3: var(--dimension-fixed-100);
  --space-lg-1: var(--dimension-scale-800);
  --space-lg-2: var(--dimension-scale-900);
  --space-lg-3: var(--dimension-scale-1000);
  --space-lg-4: var(--dimension-scale-1100);
  --space-lg-5: var(--dimension-scale-1200);
  --space-md-2: var(--dimension-scale-400);
  --space-md-3: var(--dimension-scale-500);
  --space-md-4: var(--dimension-scale-600);
  --space-md-5: var(--dimension-scale-700);
  --space-sm-1: var(--dimension-fixed-25);
  --space-sm-2: var(--dimension-scale-50);
  --space-sm-4: var(--dimension-scale-150);
}
